.nav {
    position: fixed;
    bottom: 0;
    width:100%;
    background-color: #f9f9fa;
    padding:20px 40px;
    box-sizing: border-box;
    border-top:1px solid #d3d3d3;
}

.nav__link{
    color:#2e363e;
}

.nav__ul {
    display: flex;
    justify-content: space-between;
}

.nav__link {position:relative;}

.nav__notification {
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: tomato;
    color: white;
    width:24px;
    height: 24px;
    position:absolute;
    bottom: 12px; left:13px;   
}

#mini {
    border-radius: 3px;
    width:6px;
    height: 6px;
    bottom: 22px; left:26px; 
}

